<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapp.kc.com.kuang2016_go">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kc.kuanglibrary.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.TestActivity"
            android:label="这是一个testActivity">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.ViewMeasureActivity"
            android:label="自定义View很简单1">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.ViewMeasureActivity2"
            android:label="SquareLayout">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.TouchTestActivity"
            android:label="touch传递test1">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>


        <activity android:name="myapp.kc.com.activity.LineGraphActivity"
                  android:label="自定义曲线">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
            <intent-filter>
                <action android:name="heheda" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.ScrollViewTest"
            android:label="关于ScrollView的测试">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.ScrollViewTest2"
            android:label="关于ScrollView的测试">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity.MeasureWidthTestActivity"
            android:label="getMeasure与get是否有区别">
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>
        </activity>

        <activity android:name="myapp.kc.com.activity._1026_KeyboardShowTestActivity"
                  android:label="keyboard显示与隐藏的回调"
                  android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>


        <activity android:name="myapp.kc.com.activity.pulllistview.EvenOnlyATextViewActivity"
            android:label="只有一个textview的下拉刷新"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>

        <activity android:name="myapp.kc.com.activity.CircleImageViewActivity"
                  android:label="圆形图片"
                  android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>

        <!--<activity android:name="myapp.kc.com.self_control.SelfControllActivity"-->
            <!--android:label="控制时间"-->
            <!--android:windowSoftInputMode="adjustResize"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="com.kc.main" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <service android:name="myapp.kc.com.self_control.SelfControllService"></service>



        <activity android:name="myapp.kc.com.activity.WIFITestActivity"
            android:label="WIFI测试"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>

        <activity android:name="myapp.kc.com.activity.ListHeaderAnimationActivity"
            android:label="做一个关于header的动画"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>

        <activity android:name="myapp.kc.com.activity.PaintShadowActivity"
            android:label="canvas draw multi color"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="com.kc.main" />
            </intent-filter>

        </activity>

    </application>

</manifest>
